html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
h1 {
    color : rgba(14, 7, 7, 0.897)
}
ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
}
ul li {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-left: .5rem;
    position: relative;
    width: 95px;
    transition: 1s;
    
}
ul li:hover {
    background:rgb(70, 126, 179);
}
.main-content{
    text-align: center;
}
a{
    text-decoration: none;
}

li a img {
    position: absolute;
    top: 5px;
    left: 23px;
    width: 45px;
}
li a p {
    padding: 5px;
    margin: 47px 0 0 0;
    color: black;
    text-align: center;
}